[program:browser]
command=docker run --rm --security-opt=seccomp:unconfined --name browser --link webapp:webapp --link wirebot:wirebot -p 5900:5900 browser
user={{ansible_user}}
autostart=true
autorestart=true
